# Librerias

In [176]:
# Librerias

import pandas as pd

# Planteamiento.

- Queremos crear un Algoritmo que elija nuestro equipo pokemon por nosotros.

# Recopilaci√≥n de datos

In [177]:
data = pd.read_csv("../data/raw/PokemonData.csv")

data

,Num,Name,Type1,Type2,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Exploraci√≥n y Limpieza de datos

- dimensiones del dataset.
- tipo de datos y valores no nulos

In [178]:
#Obtenemos las dimensiones

data.shape

(800, 12)

In [179]:
#Obtenemos informaci√≥n de los datos y cuantos son nulos.

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Num         800 non-null    int64
 1   Name        800 non-null    object
 2   Type1       800 non-null    object
 3   Type2       414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   SpAtk       800 non-null    int64
 8   SpDef       800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [180]:
#Antes de nada, como queremos que el algoritmo genere un equipo por nosotros, vamos a guardar un diccionario que relacione el numero de la pokedex con el nombre del pokemon

def CreatePokedex(dataset):
    pkdx_num = dataset["Num"]
    pkdx_name = dataset["Name"]
    nat_pkdx = pd.DataFrame([dataset["Num"], dataset["Name"]])
    nat_pkdx.to_json("../data/processed/pokedex.json")
    return nat_pkdx

CreatePokedex(data)

,0,1,2,3,4,5,6,7,8,9,...,790,791,792,793,794,795,796,797,798,799
Num,1,2,3,3,4,5,6,6,6,7,...,714,715,716,717,718,719,719,720,720,721
Name,Bulbasaur,Ivysaur,Venusaur,VenusaurMega Venusaur,Charmander,Charmeleon,Charizard,CharizardMega Charizard X,CharizardMega Charizard Y,Squirtle,...,Noibat,Noivern,Xerneas,Yveltal,Zygarde50% Forme,Diancie,DiancieMega Diancie,HoopaHoopa Confined,HoopaHoopa Unbound,Volcanion

- Eliminaci√≥n de duplicados

In [181]:
#Vamos a buscar duplicados en la lista y, de haberlos, eliminarlos.

def EraseDuplicates(dataset):

    #Comprobamos la duplicidad.
    if dataset.drop("Num", axis=1).duplicated().sum():
        dataset = dataset.drop_duplicates()
        print ("Duplicates Erased")
    else:
        print("Not Duplicates")

    return dataset

EraseDuplicates(data)

#Como queremos que el algoritmo nos haga un equipo competitivo y los legendarios suelen estar baneados, eliminamos los pokemon legendarios

def EraseLegendaries(dataset):
    dataset.drop(dataset[dataset["Legendary"] == True].index, inplace=True)
    return dataset

#Eliminamos la informacion irrelevante.

irrelevant_list=["Name","Generation","Legendary"] #Insertar aqu√≠ las filas irrelevantes. Como hemos eliminado todos los legendarios la fila ya es innecesaria.

def EraseIrrelevantData(dataset, lst):
    dataset.drop(lst, axis=1, inplace=True)
    return dataset

EraseLegendaries(data)
EraseIrrelevantData(data, irrelevant_list)

Not Duplicates

     Num   Type1   Type2  HP  Attack  Defense  SpAtk  SpDef  Speed
0      1   Grass  Poison  45      49       49     65     65     45
1      2   Grass  Poison  60      62       63     80     80     60
2      3   Grass  Poison  80      82       83    100    100     80
3      3   Grass  Poison  80     100      123    122    120     80
4      4    Fire     NaN  39      52       43     60     50     65
..   ...     ...     ...  ..     ...      ...    ...    ...    ...
787  711   Ghost   Grass  85     100      122     58     75     54
788  712     Ice     NaN  55      69       85     32     35     28
789  713     Ice     NaN  95     117      184     44     46     28
790  714  Flying  Dragon  40      30       35     45     40     55
791  715  Flying  Dragon  85      70       80     97     80    123

[735 rows x 9 columns]